@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter";
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-size: 0.75rem;
}

/* section 2 - plataformas */

.secundario__imagem{
    width: 70%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-secundario);
}

/* section 3 - idiomas */

.secundario__botao{
    padding: 1em;
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 7em;
}

.secundario__imagem{
    padding: 7em;
}

/* section 4 - dispositivos */


.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__item{
    font-size: 2rem;
    font-weight: 700;
}

.dispositivos{    
    text-align: center;
    color: var(--branco-principal);
    padding: 0 0 10em 0;

}

.dispositivos__titulo{
    font-size: 3rem;
    font-weight: 700;
    padding: 0 0 2em 0;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.rodape_logo{
    margin-bottom: 2em;
}

.rodape__links__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 2em 0;
}

.rodape__link{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}

.rodape__direitos{
    color: var(--cinza-secundario);
    font-size: 0.875rem;
    font-weight: 200;
    text-align: center;
    padding: 0 0 1em 0;
}

.rodape__informacoes{
    color: var(--cinza-secundario);
    font-size: 0.875rem;
    font-weight: 200;
}